#terminalCodes,
#notes {
    margin-top: 25px;
    padding-left: 25px;
    background-color: lightgoldenrodyellow;
    width: 1000px;
}

#notes li {
    margin-left: 25px;
    padding: 5px 0;
}

#terminalCodes td {
    color: white;
    background-color:lightslategray;
}

#terminalCodes p {
    padding: 5px 10px;
}

#terminalCodes .codetext {
    color: black;
    font-family: Courier;
    font-weight: bold;
    background-color: lightgray;
    margin-left: 40px;
    width: max-content;
}